/* Sidebar Styles */
.routeWrapper {
    width: 90%;
    margin: 0;
}

.sidebar {
    width: 10%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.sidebar ul{ 
    padding: 0;
    width: 100%;
}

.sidebar li {
    list-style-type: none;
    margin: 20px 0;
}

.sidebar a {
    text-decoration: none;
}

.sidebarLinkWrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.sidebarLinkWrapper span {
    font-size: 1.1rem;
    color: white;
}

.homeBtn {
    background-color: #FF7315;
    margin-right: -38px;
    padding-right: 15px;
    border-radius: 50px;
    padding: 8px 40px 8px 12px;
    display: none;
}

.homeSvg {
    background-color: #FF7315;
    border-radius: 50%;
    padding: 8px 12px;
}

.aboutBtn {
    background-color: #FF7315;
    margin-right: -38px;
    padding-right: 15px;
    border-radius: 50px;
    padding: 8px 40px 8px 12px;
    display: none;
}

.aboutSvg {
    background-color: #FF7315;
    border-radius: 50%;
    padding: 8px 12px;
}

.workBtn {
    background-color: #FF7315;
    margin-right: -38px;
    padding-right: 15px;
    border-radius: 50px;
    padding: 8px 40px 8px 12px;
    display: none;
}

.workSvg {
    background-color: #FF7315;
    border-radius: 50%;
    padding: 8px 12px;
}

.contactBtn {
    background-color: #FF7315;
    margin-right: -38px;
    padding-right: 15px;
    border-radius: 50px;
    padding: 8px 40px 8px 12px;
    display: none;
}

.contactSvg {
    background-color: #FF7315;
    border-radius: 50%;
    padding: 8px 12px;
}

.sidebar svg {
    font-size: 1.25rem;
    margin-bottom: 4px;
    color: white;
}



/* Home Styles */
.home {
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
}

.homeImage {
    background-image: linear-gradient(to right, #ff731588, #ffe15d9f), url('./assets/homebackground.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    clip-path: polygon(0 0, 19% 0, 65% 100%, 25% 100%, 0 20%);
}

.intro {
    position: absolute;
    top: 35%;
    right: 50%;
    width: 400px;
    margin-right: -350px;
}

.intro h1 {
    font-size: 3.5rem;
}

.intro h2 {
    
}

.intro button {
    border: solid 1px #FF7315;
    /* border-color: #FF7315; */
    background-color: white;
    border-radius: 20px;
    padding: 0 0 0 10px;
}

.intro svg {
    font-size: 2rem;
    color: #FF7315;
}

