/* Sidebar Styles */
.routeWrapper {
    width: 90%;
    margin: 0;
}

.sidebar {
    width: 10%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.sidebar ul{ 
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar li {
    list-style-type: none;
    margin: 15px 0;
}

.sidebar a {
    text-decoration: none;
}

.sidebar svg {
    font-size: 1.25rem;
    margin-bottom: 4px;
    color: white;

}

.linkWrapper {
    width: 45px;
    margin-right: 20px;
    margin-left: auto;
}

.homeBtn {
    background-color: #FF7315;
    padding-right: 15px;
    border-radius: 50px;
    padding: 8px 40px 8px 12px;
    display: block;
    left: -60px;
    bottom: 0;
    position: absolute;
    font-size: 1.1rem;
    z-index: -1;
    color: white;
}

.homeSvg:hover .homeBtn {
    
}

.homeSvg {
    float: right;
    margin-right: 20px;
    background-color: #FF7315;
    border-radius: 50%;
    padding: 8px 12px;
    position: relative;
    z-index: 10;
}

.aboutBtn {
    background-color: #FF7315;
    padding-right: 15px;
    border-radius: 50px;
    padding: 8px 40px 8px 12px;
    display: none;
    left: -60px;
    bottom: 0;
    position: absolute;
    font-size: 1.1rem;
    z-index: -1;
    color: white;
}

.aboutSvg:hover .aboutBtn {
    display: block;
}

.aboutSvg {
    float: right;
    margin-right: 20px;
    background-color: #FF7315;
    border-radius: 50%;
    padding: 8px 12px;
    position: relative;
    z-index: 10;
}

.workBtn {
    background-color: #FF7315;
    padding-right: 15px;
    border-radius: 50px;
    padding: 8px 40px 7px 12px;
    display: none;
    left: -55px;
    bottom: 0;
    position: absolute;
    font-size: 1.1rem;
    z-index: -1;
    color: white;
}

.workSvg:hover .workBtn {
    display: block;
}

.workSvg {
    float: right;
    margin-right: 20px;
    background-color: #FF7315;
    border-radius: 50%;
    padding: 8px 12px;
    position: relative;
    z-index: 10;
}

.workSvg svg {
    margin-bottom: 3px;
}

.contactBtn {
    background-color: #FF7315;
    padding-right: 15px;
    border-radius: 50px;
    padding: 8px 40px 8px 12px;
    display: none;
    left: -75px;
    bottom: 0;
    position: absolute;
    font-size: 1.1rem;
    z-index: -1;
    color: white;
}

.contactSvg:hover .contactBtn {
    display: block;
}

.contactSvg {
    float: right;
    margin-right: 20px;
    background-color: #FF7315;
    border-radius: 50%;
    padding: 8px 12px;
    position: relative;
    z-index: 10;
}

/* Home Styles */
.home {
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
}

.homeImage {
    background-image: linear-gradient(to right, #ff731588, #ffe15d9f), url('./assets/homebackground.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    clip-path: polygon(0 0, 19% 0, 65% 100%, 25% 100%, 0 20%);
}

.intro {
    position: absolute;
    top: 35%;
    right: 50%;
    width: 500px;
    margin-right: -400px;
}

.intro h1 {
    font-size: 3.5rem;
    color: #FF7315;
}

.intro h2 {
    color: #646464;
    text-transform: uppercase;
}

.intro a {
    border: solid 2px #FF7315;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    text-decoration: none;
    content: "";
    clear: both;
    display: table;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.intro a:hover svg {
    color: white;
}

.aboutMeSpan {
    padding: 0 10px;
    color: grey;
    vertical-align: middle;
    transition: all .250s ease-in;
}

.intro a:hover .aboutMeSpan {
    color: rgb(255, 255, 255);
}

.aboutMeSpan::after {
    z-index: -1;
    content: "";
    display: block;
    background-color: #FF7315;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    transform: translateX(100%);
    transition: all .250s ease-in;
}

.intro a:hover .aboutMeSpan::after{
    transform: translateX(0%);
    box-shadow: 0 0 0 2px #FF7315;
}

.aboutMeSvg svg {
    font-size: 2rem;
    padding: 4px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #FF7315;
    box-shadow: 0 0 0 1px #FF7315;
}

