/* Sidebar Styles */
.routeWrapper {
    width: 100%;
    margin: 0;
}

.sidebar {
    height: 100vh;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
}

.sidebar ul{ 
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar li {
    list-style-type: none;
    margin: 15px 0;
}

.sidebar a {
    text-decoration: none;
}

.sidebar svg {
    font-size: 1.25rem;
    margin-bottom: 4px;
    color: white;

}

.homeLink {
    float: right;
    margin-right: 20px;
    position: relative;
    z-index: 10;
}

.homeBtn {
    background-color: #FF7315;
    border-radius: 50px;
    padding: 0 45px 0 12px;
    display: flex;
    align-items: center;
    left: -55px;
    bottom: 0;
    position: absolute;
    font-size: 1.1rem;
    z-index: -1;
    color: white;
    height: 50px;
    visibility: hidden;
    transition: all .25s ease-in;
}

.homeSvg{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7315;
    border-radius: 50%;
}

.homeLink:hover .homeBtn {
    left: -60px;
    visibility: visible;
}

.aboutLink {
    float: right;
    margin-right: 20px;
    position: relative;
    z-index: 10;
}

.aboutBtn {
    background-color: #FF7315;
    border-radius: 50px;
    padding: 0 45px 0 12px;
    display: flex;
    align-items: center;
    left: -55px;
    bottom: 0;
    position: absolute;
    font-size: 1.1rem;
    z-index: -1;
    color: white;
    height: 50px;
    visibility: hidden;
    transition: all .25s ease-in;
}

.aboutSvg{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7315;
    border-radius: 50%;
}

.aboutLink:hover .aboutBtn {
    left: -60px;
    visibility: visible;
}

.workLink {
    float: right;
    margin-right: 20px;
    position: relative;
    z-index: 10;
}

.workBtn {
    background-color: #FF7315;
    border-radius: 50px;
    padding: 0 45px 0 12px;
    display: flex;
    align-items: center;
    left: -50px;
    bottom: 0;
    position: absolute;
    font-size: 1.1rem;
    z-index: -1;
    color: white;
    height: 50px;
    visibility: hidden;
    transition: all .25s ease-in;
}

.workSvg{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7315;
    border-radius: 50%;
}

.workLink:hover .workBtn {
    left: -55px;
    visibility: visible;
}

.contactLink {
    float: right;
    margin-right: 20px;
    position: relative;
    z-index: 10;
}

.contactBtn {
    background-color: #FF7315;
    border-radius: 50px;
    padding: 0 45px 0 12px;
    display: flex;
    align-items: center;
    left: -70px;
    bottom: 0;
    position: absolute;
    font-size: 1.1rem;
    z-index: -1;
    color: white;
    height: 50px;
    visibility: hidden;
    transition: all .25s ease-in;
}

.contactSvg{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7315;
    border-radius: 50%;
}

.contactLink:hover .contactBtn {
    left: -75px;
    visibility: visible;
}

/* Home Styles */
.home {
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
}

.homeImage {
    background-image: linear-gradient(to right, #ff731588, #ffe15d9f), url('./assets/homebackground.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    clip-path: polygon(0 0, 19% 0, 65% 100%, 25% 100%, 0 20%);
}

.intro {
    position: absolute;
    top: 35%;
    right: 50%;
    width: 500px;
    margin-right: -450px;
}

.intro h1 {
    font-size: 3.5rem;
    color: #FF7315;
}

.intro h2 {
    color: #646464;
    text-transform: uppercase;
}

.intro a {
    border: solid 2px #FF7315;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    text-decoration: none;
    content: "";
    clear: both;
    display: table;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.intro a:hover svg {
    color: white;
}

.aboutMeSpan {
    padding: 0 10px;
    color: grey;
    vertical-align: middle;
    transition: all .250s ease-in;
}

.intro a:hover .aboutMeSpan {
    color: rgb(255, 255, 255);
}

.aboutMeSpan::after {
    z-index: -1;
    content: "";
    display: block;
    background-color: #FF7315;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    transform: translateX(100%);
    transition: all .250s ease-in;
}

.intro a:hover .aboutMeSpan::after{
    transform: translateX(0%);
    box-shadow: 0 0 0 2px #FF7315;
}

.aboutMeSvg svg {
    font-size: 2rem;
    padding: 4px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #FF7315;
    box-shadow: 0 0 0 1px #FF7315;
}

/* About Me Styles */
.aboutMeTitleWrapper {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.aboutMeTitle {
    text-align: center;
    text-transform: uppercase;
}

.aboutMeTitle h1 {
    font-size: 3rem;
    color: #646464;
    margin-bottom: 0;
}

.aboutMeTitle span {
    color: #FF7315;
}

.aboutMeInfo h2{
    color: #646464;
}

.aboutMeInfo a{
    border: solid 2px #FF7315;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    text-decoration: none;
    content: "";
    clear: both;
    display: table;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.aboutMeInfo a:hover .resumeDownload::after{
    transform: translateX(0%);
    box-shadow: 0 0 0 2px #FF7315;
}

.resumeDownload {
    padding: 0 10px;
    color: grey;
    vertical-align: middle;
    transition: all .250s ease-in;
}

.resumeDownload::after {
    z-index: -1;
    content: "";
    display: block;
    background-color: #FF7315;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    transform: translateX(100%);
    transition: all .250s ease-in;
}

.resumeSvg svg {
    font-size: 2rem;
    padding: 4px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #FF7315;
    box-shadow: 0 0 0 1px #FF7315;
}

.aboutMeInfo a:hover .resumeDownload {
    color: white;
}

.skillsTitleWrapper {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.skillsTitle {
    text-align: center;
    color: #646464;
}

.skillsTitle h2 {
    margin-bottom: 0;
}

.skillsList {
    text-align: center;
}